USE [master]
GO
/****** Object:  Database [hw_dotnet]    Script Date: 22.07.2021 18:07:54 ******/
CREATE DATABASE [hw_dotnet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hw_dotnet', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hw_dotnet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hw_dotnet_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\hw_dotnet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hw_dotnet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hw_dotnet]
GO
/****** Object:  Schema [hw_11]    Script Date: 22.07.2021 18:07:55 ******/
CREATE SCHEMA [hw_11]
GO
/****** Object:  Table [hw_11].[Motorcycle]    Script Date: 22.07.2021 18:07:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hw_11].[Motorcycle](
	[Id] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Odometer] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
/****** Insert default data into DB ******/
GO